.entry-form {
  width: 70%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.list {
  margin: 0 auto;
  width: 55%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  .listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px 20px 0px 20px;
    margin: 4px;
    background-color: rgb(232, 232, 232);
    display: inline-block;
    word-wrap: break-word;
    width: 300px;
  }

  .expenseTitle {
    color: red;
  }
  .incomeTitle {
    color: green;
  }
}

.expenses .amount {
  color: red;
}

.income .amount {
  color: green;
}

.amount-and-trash {
  display: flex;
  justify-content: space-between;

  .amount {
    margin-right: 15px;
  }

  .bi-trash {
    cursor: pointer;
  }
}
