<form [formGroup]="entryForm" (ngSubmit)="onSubmit()" class="entry-form">
  <div class="row g-3">
    <div class="col-sm-3">
      <input
        type="number"
        class="form-control"
        placeholder="Amount"
        aria-label="amount"
        formControlName="amount"
      />
    </div>
    <div class="col-sm-6">
      <input
        type="text"
        class="form-control"
        placeholder="Description"
        aria-label="description"
        formControlName="description"
      />
    </div>
    <div class="col-sm">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </div>
</form>
<hr />
<div class="list">
  <div class="expenses">
    <h3 class="expenseTitle">Expenses</h3>
    <div *ngFor="let expense of expenses" class="listItem">
      <p>{{ expense.desc }}</p>
      <div class="amount-and-trash">
        <p class="amount">{{ expense.amount }}</p>
        <i (click)="deleteItem(expense)" class="bi bi-trash"></i>
      </div>
    </div>
  </div>
  <div class="income">
    <h3 class="incomeTitle">Income</h3>
    <div *ngFor="let income of income" class="listItem">
      <p>{{ income.desc }}</p>
      <div class="amount-and-trash">
        <p class="amount">{{ income.amount }}</p>
        <i (click)="deleteItem(income)" class="bi bi-trash"></i>
      </div>
    </div>
  </div>
</div>
