.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: rgba(166, 190, 242, 0.537);
}

.total-amount-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
  background-color: rgb(1, 3, 105);
  color: white;
  h1 {
    font-size: 4rem;
  }
}
